*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row-reverse;
    /*cor*/
    background-color: gold;
    /*outros*/
    padding: 20px 15px;
    gap: 10px;
    position: fixed;
    top: 0;
}
#barra_pesquisa{
    display: flex;
    flex-direction: row;
}
#barra_pesquisa input{
    height: 35px;
    width: auto;
}
#categorias{
    display: flex;
    flex-direction: row;
}
#tipos_categorias{
    color: transparent;
    
}